{% extends 'base.html.twig' %}
{% block body %}
    {% for group in groups %}
        <div class="card">
            <h5 class="card-header">{{ group.name }}</h5>
            <div class="card-body">
                <a href="{{ path('deal_addGroup', {"dealid" : dealid, "groupid" : group.id}) }}" class="btn btn-primary">Ajouter ce groupe au deal</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}