{% extends 'base.html.twig' %}

{% block title %}Codes promo{% endblock %}

{% block body %}


<div id="topRow">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {{ top }}" href="{{ path('promocodes') }}">À la une</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ hot }}" href="{{ path('codes_hot') }}">Hot</a>
        </li>
    </ul>
</div>

<div class="row">

    <div class="col-md-10">
        <div id="botRow">
            <div class="row">
                {% include '/deal/dealsList.html.twig' with {'deals' : promocodes} %}
            </div>
        </div>
    </div>

    <div class="col-md-2">
        {% include '/deal/hotDealsList.html.twig' with {'deals' : hotcodes} %}
    </div>

</div>
{% endblock %}